body{
    font-family: 'Montserrat';
    text-align: center;
    background-image: url('/images/mountain_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    color: #fff;
    text-align: left;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 100;
    text-decoration: underline;
}
.row{

}
.big-heading{
    font-size: 6.2rem;
    font-family: 'Montserrat';
    color: black;
    font-weight: 600;
    padding-left: 350px;
}
.small-heading{
    padding-top: 80px;
    padding-left: 350px;
    font-size: 6.2rem;
    font-family: 'Montserrat';
    color: navy;
    font-weight: 600;
}